@charset "UTF-8";

/* 초기화 */
* { margin: 0; padding: 0; }
body { font-family: 'Helvetica', sans-serif; }
li { list-style: none; }
a { text-decoration: none; }
/* 헤더 */
#main_header {
    height: 45px;   /* 이미지 높이 */
    background: url("./ch_6/header_background.png");

    position: relative;     /* 자식태그 absolute시 relative, height 반드시 지정 */
    text-align: center;     /* 수평정렬, block태그에서만 사용 */
    line-height: 45px;      /* 수직정렬, 높이랑 일치 */
}

#main_header > h1 {
    color: white;
}

#main_header > a, #main_header > label {
    display: block; /* 170page */
    height: 32px;
    position: absolute;
}

#main_header > a.left { /* a태그면서 left를 클래스로 가짐 */
    width: 62px;
    left: 5px; top: 7px; /* (relative)부모태그를 기준으로 위치를 잡음 */
}

#main_header > label.right { 
    width: 32px;
    right: 5px; top: 7px;
}
/* 스프라이트 이미지 */
#main_header > a.left {
    background:  url("./ch_6/sprites.png"); /* 스프라이트 이미지는 포지션 이용 */
    background-position: 0px 0px;
    text-indent: -99999px;      /* 들여쓰기 속성 : 글자를 보이지 않게 수치 크게 */
}

#main_header > label.right {
    background: url("./ch_6/sprites.png");
    background-position: -62px 0px;
    text-indent: -99999px;
}
/* 토글 목록 */
#toggle { display: none; } /* 토글 체크 박스 안보이게 설정 */
/* 토글 x  label태그 이용 >> 속성 for="toggle" */
#toggle + #wrap > #toggle_gnb_wrap { display: none; }
/* 토글 o */
#toggle:checked + #wrap > #toggle_gnb_wrap { display: block; }
/* 레이아웃 색상 */
#toggle_gnb_wrap {
    background: #363636;
    padding: 15px;
}

#toggle_gnb {
    background: #FFFFFF;
    padding: 5px;
}

#toggle_gnb > ul { overflow: hidden; } /* 부모태그:overflow: hidden 자식태그:float 사용 */
#toggle_gnb > ul > li {
    width: 100px; float: left;   
}
/* 내비게이션(1) */
#top_gnb {
overflow: hidden;
border-bottom: 1px solid black;
background: #B42111;
}

#top_gnb > div > a {
    /* 수평정렬 */
    float: left; width: 25%;
    /* 크기 및 색상, 정렬 */
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: white;
}
/* 내비게이션(2) */
#bottom_gnb {
    display: table; /* 테이블처럼 이용하고 싶을때 사용 */
    width: 100%;
    border-bottom: 1px solid black;
}

#bottom_gnb > div {
    display: table-cell; /* 테이블의 셀 처럼 이용하고 싶을때 사용 */
    position: relative;
}

#bottom_gnb > div > a {
    display: block;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

#bottom_gnb > div > a::before {
    display: block;
    position: absolute;
    top: 9px; left: -1px;
    width: 1px; height: 15px;
    border-left: 1px solid black;
    content: '';
}
/* 본문 */
#section_header { padding: 20px; }
#section_article { padding: 10px; }
/* 푸터 */
#main_footer {
    padding: 10px;
    border-top: 3px solid black;
    /* border-bottom: 3px solid black; */
    text-align: center;
}